<footer class="footer">
<p class="copyright">&copy; charlottetoday.com</p>
<p id="contact">
<img src="/assets/images/facebook1.png" height="20" width="20" alt="Fb">
<img src="/assets/images/instagram1.png" height="20" width="20" alt="insta">
<img src="/assets/images/twitter1.png" height="20" width="20" alt="twit"></p>

</footer>
