<header>
  <ul class="headerlist"><li class="headerlistitem">
  <a href="/index" >  <img src="/assets/images/charlotte.jpg"  height="40" alt="mylogo"/></a></li>
  <li class="headerlistitem">
  <a href="/index" ><h1>Charlotte Today</h1> </a></li>
  
    </ul>

</header>
