<nav>
<ul class="navlist">
  <li class="navlistitem"><a class="navlistlink" href="/index">Home</a></li>
  <li class="navlistitem"><a class="navlistlink" href="/connections">Events</a></li>
  <li class="navlistitem"><a class="navlistlink" href="/about">About Us</a></li>
  <li class="navlistitem"><a class="navlistlink" href="/contact">Contact Us</a></li>

    <% if (session == undefined) { %>
  <li class="navlistitemright" ><a class="navlistlink" href="/login">Sign In</a></li>
  <li class="navlistitemright" ><a class="navlistlink" href="/savedConnections">Sign Up</a></li>
  <li class="navlistitemright" ><a class="navlistlink" href="/newConnection">Start a new Event</a></li>
<% } else { %>
  <li class="navlistitemright" ><a class="navlistlink" href="/logout">Log Out</a></li>
    <li class="navlistitemright" ><a class="navlistlink" href="/savedConnections">My Connections</a></li>
  <li class="navlistitemright" ><a class="navlistlink" href="/newConnection">Start a new Event</a></li>
<% } %>
</ul>
</nav>
