<nav>
<ul class="navlist">
  <li class="navlistitem"><a class="navlistlink" href="/index">Home</a></li>
  <li class="navlistitem"><a class="navlistlink" href="/connections">Events</a></li>
  <li class="navlistitem"><a class="navlistlink" href="/about">About Us</a></li>
  <li class="navlistitem"><a class="navlistlink" href="/contact">Contact Us</a></li>

  

</ul>
</nav>
