<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
<title>About Us</title>
<link rel="stylesheet" type="text/css" href="/assets/stylesheets/style.css">

</head>
<body>

  <%- include ('partials/header.ejs') -%>
 	<%- include ('partials/nav.ejs') -%>
<h1  class="mainwelcome"> ABOUT US</h1>
<h2 class="mainsubhead">Visit Charlotte collects information about visitors and any other individual connecting to charlottesgotalot.com. The information gathered and stored includes contact names, telephone numbers, fax numbers, addresses, email address, passwords and any other related data. Visit Charlotte collects personal data only through inquiries, registration or other voluntary means.</h2>
<br><br><br>
<%- include ('partials/footer.ejs') -%>
</body>
</html>
