<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
<title>Contact Us</title>
<link rel="stylesheet" type="text/css" href="/assets/stylesheets/style.css">

</head>
<body>

  <%- include ('partials/header.ejs') -%>
  <%- include ('partials/nav.ejs') -%>
<h1  class="mainwelcome"> CONTACT US</h1>
<h2 class="mainsubhead">Contact us on Facebook, Twitter and Instagram</h2>
<p class="mainsubhead">facebook.com/charlottetoday</p>
<p class="mainsubhead">twitter.com/charlottetoday</p>
<p class="mainsubhead">instagram.com/charlottetoday</p>

<br><br><br>
<%- include ('partials/footer.ejs') -%>
</body>
</html>
