<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
<title>Charlotte Today</title>
<link rel="stylesheet" type="text/css" href="/assets/stylesheets/style.css">

</head>
<body>

  <%- include ('partials/header.ejs') -%>
 	<%- include ('partials/nav.ejs') -%>
<h1  class="mainwelcome"> WELCOME!</h1>
<img class="mainimage" alt="mainImage" src="/assets/images/charlottecity.jpg"/>
<h2 class="mainsubhead">Charlotte Today!</h2>
<p class="mainsubhead">A website which tells you what's going on around charlotte.</p>
<p class="mainsubhead">Main head lines of the news and the treding buzz are here in our website.</p>
<p class="mainsubhead">From here you can see all the events happening in charlotte.</p>
  <h2 class="mainsubhead">Want to go for a movie?</h2>
  <p class="mainsubhead">Check out our website to see what movies are shown in the theaters around charlotte.<p>
    <h2 class="mainsubhead">Feeling bored?</h2>
    <p class="mainsubhead">check out what's new in the city, new places to visit, new restaraunts, new entertainment places etc.</p>
<p class="mainsubhead">Check our website, make a list, explore the city......</p><br><br><br>
  <%- include ('partials/footer.ejs') -%>
</body>
</html>
